body{
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1701/Galaxy_Universe_Star_Clusters-Space_High_Quality_Wallpaper_1366x768.jpg");
    background-size: cover;
}

.contact-form {
    background:rgba(0,0,0, .6);
    color:white;
    margin-top: 110px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
    width: 80%; 
    align-content: center;   
    
}

header{
    width:100%;
    height:70px;
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left:.1%;
    margin-top:-100px;
    color: snow;
}

ul{
    width:auto;
    float: right;
    margin-top: -100px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

img{
    width: 80%;
    height: 60%;
    margin-top:-16px;
}

textarea{
    width: 100px;
    color: white;
}

/* .jumbotron{
    width: 350px;
    margin-top: -20px;
    background: transparent;
    font-size: 16px;
    margin-bottom: -20px;
} */

.jumbotron {
    align-items: center;
    background:rgba(0,0,0, .6);
    color:white;
    margin-top: 110px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
    width: 80%;
    text-align: center;
    
}
.footer{
    position:absolute;
    text-align:center;
    bottom: 0;    
    height: 60px;
    color: #ffffff;
}

.bgimage {
    width:100%;
    height:500px;
    background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

.h7 {
    color: #ffffff;
    position: center;
    size: auto;
}  

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: transparent;
}